body {
	background: #110d01 url(../img/build/background.jpg) no-repeat;
	padding-bottom: 40px;

	@media #{$large-up}{
		background-position: 50% 0px;
		padding-bottom: 0;
	}
	
	margin: 0 auto !important;
	display: block;
	position: relative;
}