.site-header {
  ul.flat-menu {
      margin: 0 0;
      list-style: none;
      text-align: center;
      li {
        display: inline-block;
        a {
          padding: 2em 0.5em;
          font-family:  $font-family-secondary;
          color: white;
        }
        
        &:hover, &.current_page_item {
          a {
            color: $pink;
          }
        }
        
        &.current_page_item:hover {
          a {
            color: white;
          }
        }
        
        &.book-tickets {
          border: 1px solid $pink;
          border-radius: 3px;
          a {
            color: $pink;
          }
        }
       
       &.social-icons {
      	text-align:center;
      	padding: 0 1em;
      
      	a {
        	display: inline-block;
      		margin:2px .1rem 0;
          padding: 2px;
          width: 28px;
          height: 28px;
      		color:$darkBlue ;
      
      		background: #ffffff;
      		
      		border-radius: 50%;
      		
      		&:hover {
        		color: $pink;
      		}
  
      	}
      } 
        
      }
    }
}