footer{
	padding:2rem 0;
	
	p, a{
		margin-bottom:0;
	}
	
	a{
		color:white!important;
		&:hover{
			color:primary-color;
		}
	}
}

// Stick Footer 
* {
  margin: 0;
}
html, body {
  height: 100%;
}
#page {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -110px;
}
#page:after {
  content: "";
  display: block;
}
.site-footer{
  height: 100px; 

}
.site-footer {
  background: black;
}