.quotes {
  background: $pink;
  padding: 1em 0;
  text-align: center;
  
  blockquote {
    border-left: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: $h4-font-size;
    
    @media #{$medium-up} {
      font-size: $h3-font-size;
    }
    
    cite {
      font-style: normal;
      text-transform: uppercase;
      &:before {
        content: "";
      }
    }
    
  }
  
}


footer{
	padding:2rem 0;
	
	p, a{
		margin-bottom:0;
	}
	
	a{
		color:white!important;
		&:hover{
			color:primary-color;
		}
	}
}

