.news-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;
  
  article {
    flex: 0 1 100%; 
    
    @media screen and (min-width:500px) {
      flex: 0 1 48%;
    }
    
    
    padding: 0;
    
    img {
      margin: 0;
    }
    .content-box {
      h1 a, a {
        
        color: $pink;
        
        &:hover {
          color: darken($pink, 15%);
        }
        
      }
      padding: 1em 1em 0.5em;
    }
    
  }
  
}